<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>counter</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <div class="d-flex justify-content-center bd-highlight mb-2">
        <h1><strong>Counter</strong></h1>
    </div>
    <div class="d-flex justify-content-center bd-highlight mb-2">
        <h3>{{visit_counter}}</h3>
    </div>
    <div class="d-flex justify-content-evenly bd-highlight">
        <button type="button" class="btn btn-success"><a href="/count" class="link-light">Click</a></button>
        <button type="button" class="btn btn-danger"><a href="/reset" class="link-light">Reset</a></button>    
    </div>
</body>

</html>