WebFundamentals/Week 1/Day 1/Practice/Portflio/assets/GitHub-Mark.png
WebFundamentals/Week 1/Day 1/Practice/Portflio/assets/linkedin.avif
WebFundamentals/Week 1/Day 1/Practice/Portflio/assets/mail.jpg
WebFundamentals/Week 1/Day 1/Practice/Portflio/assets/mee.jpg
WebFundamentals/Week 1/Day 1/Practice/Portflio/assets/web-programming.png
WebFundamentals/Week 1/Day 2/Optional/index.html
WebFundamentals/Week 1/Day 2/Optional/style.css
Python/Week 1/Day 2/Practice/Hello World.rar
WebFundamentals/Week 2/Day 4/Core/Likes.rar
Python/Week 1/Day 2/Practice/Hello World.rar
Python/Week 1/Day 2/Practice/Hello World.rar
