<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
</head>
<style>
    .tbi {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

    }

    .t1 {
        text-align: center;
        font-family: sans-serif;
    }

    .tb {
        background-color: {
                {
                color
            }
        }

        ;
        border: 1px solid black;
        width: 15em;
        height: 13em;
        border-radius: 10px;
        margin: 20px;

    }
</style>

<body>
    <h1 class="t1">Welcome!</h1>
    <div class="tbi">
        {%for i in range (0,x)%}
        <div class="tb"={{x}}></div>
        {% endfor%}
    </div>
</body>

</html>