.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #333;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    font-weight: bold;
}

.btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}